.container {
    text-align: center;
}

.title {
    padding-bottom: 3px;
    display: inline-block;
    border-bottom: 1px solid #716040;
}

.description {
    margin-top: -15px;
    font-size: large;
    color: #716040;
}

figure {
    display: block;
}